@import url("./components/top-header.css");
@import url("./components/footer.css");
@import url("./components/categories.css");
@import url("./components/carrousel.css");

:root {
  --primary: black;
  --secondary: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  background-color: #222;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.error-msg {
  color: #d8000c;
  background-color: #ffd2d2;
  padding: 10px;
  border: 1px solid #d8000c;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
