* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-family: Arial, sans-serif;
  /* overflow-x: hidden; Algo se está desbordando, esto lo soluciona pero se 'borra' lo que se sale*/
}
/* Declarar variables
  :root{
    --primary: black;
    --secondary: white;
  } */
/* Acá van todos los estilos generales; los que van en todas las páginas */
