
/* Grid Container */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Product Card */
.product-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #ccc;
    text-decoration: none ;
}

.product-card img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease; 
}

.product-card img:hover {
    transform: scale(1.1); 
}


.product-info {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.product-description {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.add-to-cart {
    padding: 10px 15px;
    background-color: #0f1210;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #1b201c;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
