/* Grid Container */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Ajustado a 180px para hacer las cards más anchas */
    gap: 15px; /* Espacio entre los productos */
    overflow: hidden;
    max-width: 80vw;
    margin: auto;
    padding: 15px; /* Padding reducido */
}

/* Product Card */
.product-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); /* Sombra ligeramente reducida */
    overflow: hidden;
    background-color: #ccc;
    text-decoration: none;
}

.product-card img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); /* Sombra de la imagen reducida */
    transition: transform 0.3s ease; 
}

.product-card img:hover {
    transform: scale(1.05); /* Reducción del efecto de escala */
}

.product-info {
    padding: 10px; /* Padding reducido */
    text-align: center;
}

.product-title {
    font-size: 1.2em; /* Fuente reducida */
    margin: 8px 0;
    color: #333;
}

.product-description {
    font-size: 0.9em; /* Fuente reducida */
    color: #666;
    margin: 8px 0;
}

.product-price {
    font-size: 1em; /* Fuente reducida */
    color: #333;
    margin: 8px 0;
}

.add-to-cart {
    padding: 8px 12px; /* Padding del botón reducido */
    background-color: #0f1210;
    color: #fff;
    border: none;
    border-radius: 4px; /* Borde reducido */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #1b201c;
}

.shipment {
    text-decoration: none;
    color: green;
    font-size: 0.8em; /* Fuente reducida */
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
