.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 300px; /* Ajusta la altura del carousel según tus necesidades */
}

.carousel .carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel .carousel-item {
  flex: 0 0 100%; /* Cada item ocupa el 100% del ancho */
  transition: transform 0.5s ease-in-out;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.carousel .carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel .carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Media query para hacer el carousel responsive */
@media (max-width: 768px) {
  .carousel .carousel-item {
    flex: 0 0 100%; /* Cambia a ocupar todo el ancho en dispositivos pequeños */
  }
}
