.categorias {
  display: flex;
  width: 1000px;
  height: 250px;
}
.categorias img {
  width: 10px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.3s ease;
}
.categorias img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
