.favorites-component-container {
    height: 80vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.favorites-container {
    background-color: #f0f0f0;
    padding: 40px;
    color: #222;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.favorites-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.favorite-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 300px;
}

.favorite-product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.favorite-product h4 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.favorite-product p {
    font-size: 1rem;
    color: #666;
}

.icon-cart {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.favorites-container h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
}

.favorites-container p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.button-cart {
    background-color: #818080;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button-cart:hover {
    background-color: #1b201c;
}
