.all-container {
  display: flex; /* Cambia grid por flexbox */
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
  width: 90vw;
  height: auto;
  margin-left: 5%;
}

.floating-button {
  position: fixed; /* Fija el botón en una posición específica de la ventana del navegador */
  bottom: 20px; /* Espacio desde el borde inferior de la ventana */
  right: 30px; /* Espacio desde el borde derecho de la ventana */
  background-color: #818080; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 15px 30px; /* Espaciado interno del botón para hacerlo más ancho */
  font-size: 16px; /* Tamaño del texto */
  text-align: center; /* Alinea el texto al centro */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  overflow: hidden; /* Oculta el contenido que se desborda */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del botón */
  z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
  width: 150px; /* Ajusta el ancho del botón para hacerlo más rectangular */
  height: auto; /* Mantiene la altura automática basada en el contenido */
}

.floating-button:hover {
  background-color: #616161; /* Color de fondo cuando el botón se pasa sobre él */
}

.floating-button:hover {
  background-color: #616161; /* Color de fondo cuando el botón se pasa sobre él */
}



.container-component-entrepise {
  height: auto;
  width: 75vw;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre contenedores */
  justify-content: center; /* Centra los contenedores dentro del contenedor principal */
  margin: 20px auto; /* Margen alrededor de cada contenedor */

}
.all-container .seller-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ccc;
  height: auto;
  width: 80%;
 margin-top: auto;
 margin-bottom: auto;
 margin-right:25px ;
 margin-left: auto;
  overflow: hidden;
  box-sizing: border-box;
  z-index: auto;
  border: 2px solid transparent; /* Borde opcional alrededor del contenedor */
  border-radius: 15px; /* Ajusta el valor para el redondeo de los bordes */
}
.seller-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ccc;
  height: auto;
  width: 80%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  z-index: auto;
  border: 2px solid transparent; /* Borde opcional alrededor del contenedor */
  border-radius: 15px; /* Ajusta el valor para el redondeo de los bordes */

}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
}


.text-content-container {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 0px;
    place-items: center; 
    text-align: center; 
}

.text-content-container h1 {
    font-size: 2em; 
    color: #333;
    margin: 8px 0; 
}

.text-content-container p.product-price,
.text-content-container p.product-description {
    font-size: 0.9em; 
    margin: 8px 0; 
}

.text-content-container p.product-price {
    color: #333; 
}

.text-content-container p.product-description {
    color: #666; 
}
.text-content-container p:nth-child(2),
.text-content-container p:nth-child(3) {
    justify-self: start; 
}

.button-container {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    box-sizing: border-box; 
    gap: 10px; 
}


.button-container button {
    background-color: #818080; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    overflow: hidden; 
    transition: background-color 0.3s; 
    flex: 1; 
}


.button-container button:not(:last-child) {
    margin-right: 10px; 
}

.button-container button:hover {
    background-color: #616161; 
}

.button-container button:hover {
    background-color: #616161; 
}
.model-selection, .color-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selectors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
  }
  .models, .colors {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .model {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .model.selected {
    border-color: black;
  }
  
  .color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
  }
  
  .color.selected {
    border-color: black;
  }
  
  .red {
    background-color: red;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  .quantity-dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .quantity-select  {
    appearance: none; 
    background-color: #3d3d3d;
    color: white;
    padding: 10px;
    padding-right: 40px; 
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
  }
  

  .custom-select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
    font-size: 12px;
  }
  
 
  .quantity-select:focus {
    outline: none;
    background-color: #4d4d4d;
  }
  .model-color-selection {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .model-selection {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  
  .model-select {
    appearance: none; 
    background-color: #3d3d3d;
    color: white;
    padding: 10px;
    padding-right: 40px; 
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
  }
  

  .model-selection::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
    font-size: 12px;
  }
  .model-select:focus {
    outline: none;
    background-color: #4d4d4d;
  }
    

@media (max-width: 840px) {
    .seller-product-container {
        grid-template-columns: 1fr; 
        width: 100vw; 
        gap: 10px; 
    }
    .all-container {
      display: grid;
      grid-template-columns: 65% 20%; /* Dos columnas en pantallas grandes */
      width: 100%;
      height: auto;
      margin: 20px auto;
    }
    
    @media (max-width: 840px) {
      .all-container {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
        grid-template-rows: auto auto; /* Ajusta la altura de cada fila */
        grid-auto-flow: dense; /* Permite controlar el flujo y el orden de los elementos */
      }
    
      /* Reversa el orden de los elementos en la vista móvil */
      .all-container > :first-child {
        grid-row: 2; /* El primer elemento en la fila 2 (abajo) */
      }
    
      .all-container > :last-child {
        grid-row: 1; /* El segundo elemento en la fila 1 (arriba) */
      }
    }
    
    .image-container {
        justify-content: center;
    }

    .text-content-container {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px; 
    }

    .text-content-container h1 {
        font-size: 24px; 
    }

    .text-content-container p.product-price,
    .text-content-container p.product-description {
        margin: 20px 0; 
        align-self: flex-start; 
    }

    .button-container {
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    .button-container button {
        width: 100%; 
        margin: 0; 
    }
}
