.slayer-inputs {
  padding: 20px;
  max-width: 400px; /* Ajusta el ancho según sea necesario */
  margin: 0 auto;
}

.slayer-inputs img {
  display: block;
  max-width: 100px; /* Ajusta el tamaño del logo según sea necesario */
  margin: 0 auto 10px; /* Centra el logo y añade margen en la parte inferior */
}

.slayer-inputs h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.slayer-inputs h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  flex-direction: column; /* Organiza los checkboxes en una columna */
}

.checkbox-container input[type="checkbox"] {
  display: none; /* Oculta los checkboxes nativos */
}

.checkbox-container .checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px; /* Espacio para el círculo del checkbox */
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-container .checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px; /* Tamaño del círculo del checkbox */
  height: 20px; /* Tamaño del círculo del checkbox */
  border-radius: 50%;
  background-color: #3498db; /* Color del círculo cuando no está marcado */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra alrededor del círculo */
  transition: background-color 0.2s;
}

.checkbox-container .checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px; /* Tamaño del círculo del checkbox */
  height: 20px; /* Tamaño del círculo del checkbox */
  border-radius: 50%;
  background-color: #3498db; /* Color del círculo cuando no está marcado */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra alrededor del círculo */
  transition: background-color 0.2s;
}

.checkbox-container input[type="checkbox"]:checked + .checkbox-label::before {
  background-color: #2ecc71; /* Color del círculo cuando está marcado */
}
