

.product-description-container {
  display: flex;
  max-width: 100vw;
  margin: 20px auto;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-wrap: wrap;
  margin-left: 1%;

}

.product-image-container {
  position: relative; /* Para que el botón de favoritos se posicione correctamente */
  flex: 0 0 400px; /* Ancho fijo de 400px */
  max-width: 100%; /* Ancho máximo 100% del contenedor padre */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Evitar el desbordamiento de la imagen */
  margin:  auto; /* Centra el contenedor horizontalmente */
  background-color: white;
  border-radius: 3%;
}

.favorite-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: auto; /* Asegura que la imagen se ajuste proporcionalmente al contenedor */
  object-fit: cover; /* Mantiene la proporción de aspecto de la imagen */
}


.product-details-container {
  flex: 1 1 300px; /* Ancho mínimo */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 30px;
  margin: 10px 0;
  font-weight: bold; /* Resaltar las etiquetas */
  color: #ffffff; /* Color del texto de las etiquetas */
}

.product-price {
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold; /* Resaltar las etiquetas */
  color: #ffffff; /* Color del texto de las etiquetas */
}


.payment-option {
  margin-right: 10px;
}

.product-info {
  list-style-type: none;
  padding: 30px;
  
  border-radius: 20px; /* Aumenta este valor para esquinas más redondeadas */
  background-color: #ccc; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}


.model-color-selection {
  display: flex;
  justify-content: center;
  align-items: center; /* Alineación vertical */
  margin: 10px 0; /* Margen superior e inferior */
  padding: 10px; /* Espacio interno */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.model-label, .color-label {
  margin-right: 10px; /* Margen a la derecha de las etiquetas */
  font-weight: bold; /* Resaltar las etiquetas */
  color: #ffffff; /* Color del texto de las etiquetas */
}

.model-select, .color-select {
  margin-left: 10px; /* Margen a la izquierda de los selectores */
  padding: 5px; /* Espacio interno en los selectores */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Esquinas redondeadas en los selectores */
  background-color: #f9f9f9; /* Fondo claro para los selectores */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.model-select:hover, .color-select:hover {
  border-color: #888; /* Cambia el color del borde al pasar el mouse */
}


.buy-button {
  background-color: #0f1210;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}
.buy-button:hover {
  background-color: #1b201c;
}

@media (max-width: 600px) {
  .product-description-container {
      flex-direction: column;
      align-items: center;
  }

  .product-details-container {
      padding: 10px;
  }

  .favorite-button {
      width: 30px;
      height: 30px;
      font-size: 18px;
  }
}
