.product-description-container {
  display: flex;
  max-width: 90vw;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border-radius: 8px;
}

.product-image-container {
  position: relative;
  flex: 0 0 400px;
  max-width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
  border-radius: 3%;
}

.thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Crea 3 filas iguales */
  gap: 5px; /* Espacio entre las miniaturas */
}

.thumbnail-image {
  width: 80px;
  height: 80px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
  object-fit: cover;
  border-radius: 5px;
  margin: auto;
}

.thumbnail-image:hover {
  border-color: black;
}

.product-image-container:hover .product-image {
  cursor: zoom-in;
}

.product-image-container.zoomed .product-image {
  cursor: zoom-out;
}


.favorite-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-details-container {
  flex: 1 1 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 30px;
  margin: 10px 0;
  font-weight: bold;
  color: #ffffff;
}

.product-price {
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold;
  color: #ffffff;
}

.product-info {
  list-style-type: none;
  padding: 30px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: large;
}

.model-color-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.model-selection, .color-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.models, .colors {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.model {
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.model.selected {
  border-color: black;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.color.selected {
  border-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}


.button-container {
  display: flex;
  justify-content: space-between; /* Coloca los botones uno al lado del otro */
  gap: 10px; /* Espacio entre los botones */
}

.buy-button {
  position: relative;
  flex: 1;
  background-color: #818080;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}

.buy-button:hover {
  background-color: #1b201c;
}




@media (max-width: 600px) {
  .product-description-container {
      flex-direction: column;
      align-items: center;
  }

  .product-details-container {
      padding: 10px;
  }

  .favorite-button {
      width: 30px;
      height: 30px;
      font-size: 18px;
  }

  .button-container {
      flex-direction: column;
      gap: 5px; /* Espacio entre los botones en pantallas pequeñas */
  }
}
