/* Header principal */
header {
  background-color: #222;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
/* Contenedor principal */
/* Contenedor principal */
.main-h {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px; /* Mayor tamaño en pantallas grandes */
  padding: 0 20px; /* Espaciado lateral */
}


/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
}

/* Barra de búsqueda */
.buscador {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 10px;
}

.BarraBusqueda {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.BotonBusqueda {
  background: none;
  border: none;
  cursor: pointer;
}

.BotonBusqueda img {
  width: 20px;
}

/* Iconos del menú */
.iconos {
  display: flex;
  align-items: center;
}

.TextoIcono {
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
}

.icono {
  width: 20px;
  display: block;
  margin: 0 auto;
  padding: 0;
}


/* Submenú secundario */
.snd-h {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1024px; /* Aumenta el ancho en pantallas grandes */
  background-color: #2b2b2b;
  padding: 5px 0;
  list-style: none;
  margin: 0;
}
.snd-h > li > a {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-content > a {
  color: #000000;
  padding: 8px 16px;
  display: block;
  text-decoration: none;
}

@media (max-width: 768px) {
  .main-h, .snd-h {
      max-width: 480px; /* Reduce el ancho en pantallas pequeñas */
  }

  .snd-h li a {
      font-size: 12px;
  }

  .TextoIcono {
      font-size: 10px;
  }
}