.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #1c1c1c;
}

.contactoa {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.contactoa:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  padding: 15px 10px; 
  background-color: #1c1c1c;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative; 
  top: -15px; 
  right: -15px; 
}

.LogoEme {
  height: 40px;
  width: auto;
  transition: height 0.3s, width 0.3s;
}

.LogoEme:hover {
  scale: 1.2;
}


.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Permite posicionar el botón dentro del input */
  margin: 10px; 
  top: -15px; 
}

.BarraBusqueda {
  height: 30px;
  width: 40vw;
  background-color: aliceblue;
  border: 1px solid #ccc; 
  padding-right: 40px; 
  padding-left: 10px; 
  border-radius: 20px;

}

.BotonBusqueda {
  position: absolute;
  right: 5px; /* Coloca el botón en el extremo derecho del input */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 100%; /* Hace que el botón tenga la misma altura que el input */
  display: flex;
  align-items: center;
}

.LogoBusqueda {
  width: 20px;
  height: auto;
}
.user-menu:hover{
  cursor: pointer;
}
.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative; 
  top: -15px; 
}

.icono {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.TextoIcono,
.TextoIcono,
.TextoIcono {
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}
/* Dropdown styling */
.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* mostrar y ocultar */

.user-data{
  display: none ;
}



/* mostrar y ocultar */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .buscador {
    width: 100%;
    justify-content: space-between;
  }

  #BarraBusqueda {
    width: calc(100% - 50px);
  }

  .iconos {
    width: 100%;
    justify-content: space-around;
  }

  .idiomaclass {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .contacto {
    flex-direction: column;
    text-align: center;
    
  }

  .header {
    text-align: center;
  }

  .buscador {
    flex-direction: column;
  }

  .iconos {
    flex-direction: column;
  }

  #BarraBusqueda {
    width: 80%;
    margin-bottom: 10px;
  }
}
