/* UPLOAD PRODUCTS SECTION*/
#upload-product {
  margin: 0px auto;
  font-size: large;
}
#upload-product > section {
  height: 40%;
}
#upload-product > section.hidden {
  display: none;
}
#upload-product > h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
#upload-product h2 {
  text-align: center;
  margin-bottom: 1rem;
}
#upload-product button {
  padding: 0.25rem 0.5rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 0.5rem;
}

.upload-product-control {
  margin-top: 5.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.upload-product-control > .previous-btn {
  background-color: #ded678;
}
.upload-product-control > .delete-btn {
  background-color: #de7878;
}
.upload-product-control > .next-btn {
  background-color: #9cde78;
}

/* PRODUCT INFO*/
.product-info {
  display: flex;
  flex-direction: column;
}
#product-form {
  display: flex;
  flex-direction: column;
}

#product-form > label {
  margin-top: 1rem;
}

.product-attributes {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* VARIANTS */
.table-scroll {
  height: 95%;
  overflow-y: auto;
}

.variants-table {
  margin-top: 2rem;
}

.variant-actions {
  display: flex;
}

.add-variant-btn {
  background-color: #9cde78;
  margin-top: 1rem;
}

/* MODALS*/
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  color: black;
  font-size: small;
}
.loader-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loader-btns > button {
  color: white;
  padding: 0.25rem 0.5rem;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
}
.loader-btns > :first-child {
  background-color: #d13434;
}

.loader-btns > :last-child {
  background-color: #7dd134;
}

/* IMAGES LOADER */
.img-loader {
  width: 30rem;
  height: auto;
}

.img-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.img-upload-section {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.img-upload-section > label {
  padding: 0.25rem 0.5rem;
  background-color: #5f5f5f;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  margin-top: 1rem;
}

.gallery-item {
  min-width: 7rem;
  max-width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.gallery-item > img {
  max-width: 5rem;
  height: auto;
}

.item-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.item-actions > button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* ATTRIBUTES LOADER*/
